body {
  font-family:  'Open Sans', sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
}

.selection_list {
  list-style: none;
  display: block;
  margin-right: 40px;
}

.selection_list li {
  margin-top: 20px;
}

img, 
.selection_list li {
  cursor: pointer;
}